{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    ["lodash", { "id": ["lodash", "recompose"] }]
  ],
  "env": {
    "coverage": {
      "plugins": [ [ "istanbul", { "ignore": "test" } ] ]
    }
  }
}
