---
extends:
  - "formidable/configurations/es6-react"
  - "prettier"
  - "prettier/flowtype"
  - "prettier/react"

parser: "babel-eslint"

env:
  browser: true

plugins:
  - "babel"
  - "flowtype"

rules:
  react/prop-types: [2, { skipUndeclared: true }]
  flowtype/define-flow-type: warn
  react/no-multi-comp: "off"

