---
extends:
  - "formidable/configurations/es6-react"
  - "../.eslintrc-overrides"

parser: "babel-eslint"

env:
  browser: true

plugins:
  - "babel"
  - "flowtype"

rules:
  jsx-quotes: [2, "prefer-single"]
  flowtype/define-flow-type: warn
  react/no-multi-comp: "off"

